 　　<div id="like-<%= micropost.id %>">
        <% if current_user.like?(micropost) %>
          <%= render 'users/unlike', micropost: micropost %>
        <% else %>
          <%= render 'users/like', micropost: micropost %>
        <% end %>
    </div>